<!-- This should be used as a ase template for pages -->
<!DOCTYPE html>
<html class="no-js" lang="de">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" href="fontawesome-free/css/all.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/mdb.min.css" type="text/css" />
    <link rel="stylesheet" href="css/custom-style.css" type="text/css">

    <!-- icon support -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="images/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Argon">
    <meta name="application-name" content="Argon">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link href="css/font.css" rel="stylesheet">

    <!-- JS -->
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="js/popper.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/mdb.min.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script>

</head>
<body>
  <!-- Content -->
  <!-- #Content -->
  <!-- Footer -->
    <footer id="footer" class="page-footer invisble font-small animated elegant-color-dark w-100" style="position: absolute; bottom: 0; visibility: hidden;">
      <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright
          <a href="https://sinclair.gq/pages/contact.html">Cobalt</a> <span id="footer-advanced"></span>
        </div>
      <!-- #Copyright -->
    </footer>
  <!-- #Footer -->
  <!-- Javascript -->

  <!-- #Javascript -->
</body>
</html>
